In [2]:
def test(a,b,c):
    return a,b,c #Here we are defining only three argument you have to put.....

In [3]:
test(4,5,6)

(4, 5, 6)

In [7]:
test(2,3) # error as we have defined only three argument should be there in function

TypeError: test() missing 1 required positional argument: 'c'

In [ ]:
def test1(*args):
    return args  ## For passing any number of argument define function like this

In [5]:
test1(4,5,6)

(4, 5, 6)

In [8]:
test1(4,5,6,7,8,9,[1,2,3],(5+7j))

(4, 5, 6, 7, 8, 9, [1, 2, 3], (5+7j))

## U can use anything in place of args

In [10]:
def test2(*ritu):
    return ritu

In [11]:
test2(5,6,4,7,8,[2,3])

(5, 6, 4, 7, 8, [2, 3])

In [16]:
def test3(*ritu,a):
    return ritu,a   # we we want to give some specific value from ourside

In [14]:
test3(4,5,6)  # it is not able to find out any value of a all values coming under ritu

TypeError: test3() missing 1 required keyword-only argument: 'a'

In [17]:
test3(4,5,6,a='ritesh')

((4, 5, 6), 'ritesh')

In [19]:
def test4(a,*ritu):
    return ritu,a

In [20]:
test4(55,474,9,7,a='ritesh')

TypeError: test4() got multiple values for argument 'a'

In [21]:
test4(55,474,9,7)

((474, 9, 7), 55)

### Whenever u write a in the begining it will take first value of input value for arg a.Thats why u got error as test4() got multiple values for argument 'a' bcoz a=55 is already assigned

In [22]:
def test5(*ritu,a):
    return a,ritu

In [28]:
test5(5,4,5,9,9)

TypeError: test5() missing 1 required keyword-only argument: 'a'

In [30]:
test5(5,4,5,9,a=9)

(9, (5, 4, 5, 9))

### args always gives output in the form of tuple

#### Problem statement:= Creat a function, user can pass anything and my function is supposed to return only list part

##### Wrong attempts

In [61]:
def test6(*args):
    for i in args:
        if type(args)==list:
            return args

In [53]:
test6(2,3,4,5,[1,2,3])

In [49]:
def test7(*args):
    l=[]
    for i in args:
        if type(args)==list:
            l.append(i)
    return l

In [51]:
test7(4,5,6,[1,2,3])

[]

#### Right attempts

In [55]:
def test8(*args):
    for i in args:
        if type(i)==list:
            return i

In [56]:
test8(4,5,6,[1,2,3])

[1, 2, 3]

In [62]:
test8(4,5,6,[1,2,3],[4,5,6])

[1, 2, 3]

#### For above code if tou pass more than one list only one list show in output
###### if u write print u can print both list then the type of function will be none type so primitive operation u cant do with none type function

### Method 1

In [57]:
def test9(*args):
    l=[]
    for i in args:
        if type(i)==list:
            l.append(i)
    return l

In [64]:
test9(4,5,6,[1,2,3],[5,6,7])

[[1, 2, 3], [5, 6, 7]]

### Method 2

In [65]:
def test10(*args):
    for i in range(len(args)):
        if type(i)==list:
            return(i)

In [66]:
test9(4,5,6,[1,2,3],[5,6,7])

[[1, 2, 3], [5, 6, 7]]

#### Problem statement 2:= Creat a function, which will take n number of data in form of (anything=anything) but it will show key value pair only

In [67]:
def test11(*args):
    l=[]
    for i in range(len(args)):
        if type(i)==dict:
            l.append(i)
    return l

In [70]:
test11(3,4,5,{'rak':122,'kal':577})

[]

### U havenot properly read the problem statement

### Note :- single staric args is for values only  &    double staric args is for key value pair

In [75]:
def test12(**ritu):
    return ritu

In [80]:
test12(a=7,b=9,c='ritu')

{'a': 7, 'b': 9, 'c': 'ritu'}

### Problem statement 3 :- Creat a function where a person will able to fill name,age,DOB

In [81]:
def test13(**ritu):
    return ritu

In [82]:
test13(name='ritesh',Age='26',DOB='6/9/96')

{'name': 'ritesh', 'Age': '26', 'DOB': '6/9/96'}

In [83]:
def test14(a,**ritu):
    return ritu,a

In [84]:
test14(14,name='ritesh',Age='26',DOB='6/9/96')

({'name': 'ritesh', 'Age': '26', 'DOB': '6/9/96'}, 14)

In [86]:
def test15(**ritu,a):
    return a,ritu

SyntaxError: invalid syntax (Temp/ipykernel_4052/1885003022.py, line 1)

In [87]:
def test15(**ritu,a,*args):
    return a,ritu,args

SyntaxError: invalid syntax (Temp/ipykernel_4052/4020731136.py, line 1)

### if we want to pass single staric,double staric,a then u should pass in sequence else it will show error

In [88]:
def test16(a,*args,**kwargs):
    return a,kwargs,args

In [89]:
test16(s=9,45,96,82,44,66,name='ritesh',Age='26',DOB='6/9/96',82,86)

SyntaxError: positional argument follows keyword argument (Temp/ipykernel_4052/815223031.py, line 1)

In [93]:
test16(101,s=9,45,96,82,44,66,name='ritesh',Age='26',DOB='6/9/96')

SyntaxError: positional argument follows keyword argument (Temp/ipykernel_4052/1818526078.py, line 1)

In [94]:
test16(101,45,96,82,44,66,name='ritesh',Age='26',DOB='6/9/96')

(101, {'name': 'ritesh', 'Age': '26', 'DOB': '6/9/96'}, (45, 96, 82, 44, 66))

### entering data also should be in form test16(), otherwise it will show syntax error

## lambda Function = function without name

In [95]:
def test17(a,b):
    return a*b

In [96]:
test17(22,24)

528

In [97]:
lambda a,b :a*b

In [98]:
a=lambda a,b :a*b

In [100]:
a(22,24)

528

In [101]:
a=lambda a,b :(a*b ,a+b)

In [102]:
a(22,24)

(528, 46)

In [103]:
a=lambda **kwargs: kwargs

In [104]:
a(a='45',b='66')

{'a': '45', 'b': '66'}

In [105]:
a=10
def test19(c,d):
    return c*d

In [109]:
test19(a,20)

200

In [107]:
test19(5,4)

20

In [108]:
test19(a,5,4)

TypeError: test19() takes 2 positional arguments but 3 were given

In [110]:
a=10
def test19(c,d):
    a=5
    return c*d

In [111]:
test19(a,20)

200

In [114]:
a=10
def test20(c,d):
    c=5
    return c*d

In [116]:
test20(10,50)   # As we have assigned so it will take c as 5 not 10 inside function

250

### PS:- 4 == try to add two in every value of the list and show new list

In [119]:
l=[4,5,6,4,7,8]
l1=[]
for i in l:
    l1.append(i+2)

In [120]:
l1

[6, 7, 8, 6, 9, 10]

In [130]:
def test21(a):
    l1=[]
    for i in a:
        if type(a)==list:
            l1.append(i+2)
    return l1

In [131]:
test21([2,3,4])

[4, 5, 6]

In [132]:
l=[5,6,7,9,8,7,55,4]

### list comprehension Operation
#### syntax= [(return) loop condition ]

In [133]:
[(i**2,i+i) for i in l]

[(25, 10),
 (36, 12),
 (49, 14),
 (81, 18),
 (64, 16),
 (49, 14),
 (3025, 110),
 (16, 8)]

In [135]:
[(i**2,i+i) for i in l if i<8]

[(25, 10), (36, 12), (49, 14), (49, 14), (16, 8)]

In [136]:
ls

 Volume in drive C has no label.
 Volume Serial Number is F4D8-FFBD

 Directory of C:\Users\dell

23-Nov-22  02:14 PM    <DIR>          .
23-Nov-22  02:14 PM    <DIR>          ..
22-Oct-22  03:45 PM                95 .accessibility.properties
11-Oct-22  12:05 PM    <DIR>          .astropy
16-Oct-22  04:11 PM    <DIR>          .conda
21-Nov-22  11:21 PM    <DIR>          .cufflinks
23-Nov-22  02:14 PM    <DIR>          .ipynb_checkpoints
25-Jul-22  12:17 PM    <DIR>          .ipython
26-Jul-22  07:27 AM    <DIR>          .jupyter
11-Oct-22  12:15 PM    <DIR>          .matplotlib
03-Nov-22  01:12 PM    <DIR>          3D Objects
25-Jul-22  12:00 PM    <DIR>          anaconda3
19-Nov-22  04:38 PM           461,474 bank.csv
16-Jul-22  10:59 AM    <DIR>          Contacts
21-Nov-22  12:37 PM    <DIR>          Desktop
03-Nov-22  01:12 PM    <DIR>          Documents
23-Nov-22  02:13 PM    <DIR>          Downloads
16-Jul-22  10:59 AM    <DIR>          Favorites
23-Nov-22  02:14 PM            29,240 Function 2.ipynb
03-Nov-22  09:30 AM            11,903 glass.data
16-Jul-22  10:59 AM    <DIR>          Links
15-Nov-22  07:00 PM            18,015 locations.csv
01-Aug-22  07:30 PM    <DIR>          Microsoft
25-Oct-22  01:30 PM    <DIR>          Music
18-Nov-22  07:51 PM           104,946 NBA.xlsx
10-Jul-22  04:55 PM    <DIR>          OneDrive
29-Sep-22  01:05 PM    <DIR>          Pictures
03-Nov-22  09:45 AM    <DIR>          PycharmProjects
22-Nov-22  03:44 PM            31,939 sample_submission.csv
15-Nov-22  06:51 PM               172 sample_test.csv
16-Jul-22  10:59 AM    <DIR>          Saved Games
22-Nov-22  06:14 PM    <DIR>          seaborn-data
16-Jul-22  10:59 AM    <DIR>          Searches
15-Nov-22  07:47 PM            19,128 services.csv
15-Nov-22  07:09 PM            20,752 TAT.csv
22-Nov-22  03:44 PM           451,405 test.csv
22-Nov-22  03:44 PM           460,676 train.csv
01-Nov-22  11:43 AM             1,135 Untitled.ipynb
01-Nov-22  03:48 PM               588 Untitled1.ipynb
05-Nov-22  12:23 PM             8,531 Untitled10.ipynb
05-Nov-22  07:02 PM             5,719 Untitled11.ipynb
15-Nov-22  08:02 PM           143,953 Untitled12.ipynb
16-Nov-22  09:02 AM               750 Untitled13.ipynb
18-Nov-22  11:23 PM           286,901 Untitled14.ipynb
19-Nov-22  04:25 PM            85,070 Untitled15.ipynb
19-Nov-22  07:17 PM             2,093 Untitled16.ipynb
19-Nov-22  08:57 PM            66,508 Untitled17.ipynb
20-Nov-22  11:32 AM            64,559 Untitled18.ipynb
20-Nov-22  12:02 PM            45,003 Untitled19.ipynb
01-Nov-22  05:16 PM               588 Untitled2.ipynb
20-Nov-22  04:39 PM            30,733 Untitled20.ipynb
21-Nov-22  11:44 AM            25,144 Untitled21.ipynb
21-Nov-22  05:35 PM            28,706 Untitled22.ipynb
21-Nov-22  06:08 PM               931 Untitled23.ipynb
21-Nov-22  11:13 PM         1,326,421 Untitled24.ipynb
21-Nov-22  11:29 PM            78,848 Untitled25.ipynb
22-Nov-22  09:21 AM             8,919 Untitled26.ipynb
22-Nov-22  10:42 AM             2,648 Untitled27.ipynb
22-Nov-22  03:20 PM             1,542 Untitled28.ipynb
22-Nov-22  06:22 PM           107,581 Untitled29.ipynb
02-Nov-22  09:56 AM               588 Untitled3.ipynb
22-Nov-22  08:01 PM           211,334 Untitled30.ipynb
23-Nov-22  09:39 AM               778 Untitled31.ipynb
23-Nov-22  01:51 PM            29,240 Untitled32.ipynb
02-Nov-22  10:27 AM             1,471 Untitled4.ipynb
03-Nov-22  09:36 AM            17,354 Untitled5.ipynb
03-Nov-22  03:39 PM           126,746 Untitled6.ipynb
03-Nov-22  01:04 PM               588 Untitled7.ipynb
03-Nov-22  04:01 PM            47,206 Untitled8.ipynb
05-Nov-22  08:29 AM            56,833 Untitled9.ipynb
16-Jul-22  10:59 AM    <DIR>          Videos
              45 File(s)      4,424,754 bytes
              26 Dir(s)  184,877,817,856 bytes free